body {
  background-color: black;

  color: white;
}

#chatScreen {
  position: absolute;
  display: block;
  font-size: 1.5vw;
  bottom: 20%;
  height: 80%;
  width: 100%;
  overflow-y: auto;
  /* border: 2px solid white;*/
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#chatScreen > p {
  margin-left: 1.5vw;
}

#chatInput {
  font-size: 1.5vw;
  height:auto;
  /* height: 25% */
  width: 97%;
  border: 2px solid white;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  position: fixed;
  display: block;
  bottom: 0.1vw;
  background-color: black;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#zinnetje {
  width: 50%;
  background-color: grey;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
